<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <title>Aquadeluxe</title>

    <meta name="description" content="Высокотехнологичные японские фильтры для воды в Казахстане. Вам комфорт, а заботы нам: привозим товар, устраиваем демо-показ. Нравится? Устанавливаем. Плюс консультации и сервис."/>
    <meta property="og:site_name" content="Aquadeluxe">
    <meta property="og:title" content="Aquadeluxe | Японские фильтры для воды в Казахстане">
    <meta property="og:description" content="Высокотехнологичные японские фильтры для воды в Казахстане. Вам комфорт, а заботы нам: привозим товар, устраиваем демо-показ. Нравится? Устанавливаем. Плюс консультации и сервис.">
    <meta property="og:image" content="icon.png">
    <!-- <base target="_blank"> -->
    <link rel="shortcut icon" sizes="16x16" href="/media/favicon.png">
    <link rel="icon" sizes="16x16" href="/media/favicon.png">

    <link href="/media/https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">

    



    <!-- <link  rel="stylesheet" href="/media/css/animate.min.css"> -->
    <link  rel="stylesheet" href="/media/plugins/bootstrap.min1.css">
    <link href="/media/css/style.css" rel="stylesheet">
    <script src="/media/css/dop/modernizr.js"></script>
  </head>
  <body class="top">
    <div id="header" class="header">
      <div class="container">
        <div class="row">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a href="/">
              <img alt="Aquadeluxe логотип" class="logo" src="/media/logo.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span>
                <img src="/media/img/list.svg" style="width: 18px; margin-top: -5px;">
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item mr-0 mr-lg-3">
                  <a class="nav-link scrollto circe-regular" href="#main">Главная</a>
                </li>
                <li class="nav-item mr-0 mr-lg-3">
                  <a class="nav-link scrollto circe-regular" href="#catalog">Каталог</a>
                </li>
                <li class="nav-item mr-0 mr-lg-3">
                  <a class="nav-link scrollto circe-regular" href="#about">О нас</a>
                </li>
              </ul>
              <div class="phone">
                <div class="phone-cont">
                  <div class="number">
                    <a href="tel:+7 777 777-10-85"><p><span class="proxima-nova-light">7 777</span> <span class="proxima-nova-bold">777-10-85</span></p></a>
                    <p class="def proxima-nova-light">ежедневно с 9:00 до 21:00 </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="phone sec">
                <div class="phone-cont">
                  <div class="number">
                    <a href="tel:+7 777 777-10-85"><p><span class="proxima-nova-light">7 777</span> <span class="proxima-nova-bold">777-10-85</span></p></a>
                    <p class="def proxima-nova-light">ежедневно с 9:00 до 21:00 </p>
                  </div>
                </div>
              </div>
          </nav>
          
        </div>
      </div>
    </div>

    <div class="main-section" id="main">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7">
            <div class="text-block">
              <div class="first-text-block">
                <p class="Montserrat  wow fadeInDown semi-bold">Проверьте качество<br> воды у себя дома</p>
              </div>
              <div class="second-text-block">
                <p class="Montserrat wow fadeInUp light">Проверим качество воды до установки фильтра, смонтируем систему, проведем повторный анализ и даже после установки будем сопровождать вас: обслуживать фильтры и заменять картриджи.</p>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-9">
            <div class="main-btn">
              <div class="btn-cont">
                <a class="proxima-nova-bold scrolltwo" href="#raschet" >Гарантия<br>качества</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row wow fadeInUp">
          <div class="col-lg-4">
            <div class="premium-cont">
              <div class="img-cont">
                <img class="lazyload" src="/media/img/main-icon-1.png">
              </div>
              <div class="text">
                <p class="Montserrat semi-bold">Прием заказов<br> онлайн</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="premium-cont sec">
              <div class="img-cont">
                <img class="lazyload" src="/media/img/main-icon-2.png">
              </div>
              <div class="text">
                <p class="Montserrat semi-bold">Оплата любым<br> удобным способом</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="premium-cont third">
              <div class="img-cont">
                <img class="lazyload" src="/media/img/main-icon-3.png">
              </div>
              <div class="text">
                <p class="Montserrat semi-bold">Японские<br> технологии</p>
              </div>
            </div>
          </div>
        </div>  
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 160"><path fill="#fff" fill-opacity="1" d="M0,32L80,58.7C160,85,320,139,480,138.7C640,139,800,85,960,69.3C1120,53,1280,75,1360,85.3L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
    </div>

    <div class="second-section curved">
      
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading">
              <h1 class="proxima-nova-bold  wow fadeInUp"  data-wow-duration="2s">ПОЧЕМУ ЧИСТАЯ ВОДА<br> НЕОБХОДИМА КАЖДОМУ?</h1>
            </div>
          </div>
        </div>
        <div class="row no-gutters pt-5">
          <div class="col-12 d-flex justify-content-center">
            <div class="second-water-cnt">
              <div class="row wow fadeInLeft" data-wow-duration="2s">
                <div class="col-sm-3">
                  <div class="img-main-cont sec">
                    <div class="img">
                      <div class="img-cont">
                        <img class="lazyload" src="/media/img/cardiogram.svg">
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-sm-9 ">
                  <div class="text">
                    <div class="subhead">
                      <h5 class="proxima-nova-bold">ПОЛЬЗА ДЛЯ ЗДОРОВЬЯ</h5>
                    </div>
                    <div class="main-text">
                      <p class="Montserrat regular">Неочищенная вода вызывает различные кожные заболевания, раннюю<br> половую дисфункцию и множество других пагубных последствий<br> для Вас и Вашей семьи.</p>
                    </div>
                  </div>
                </div>
              </div>
              
              
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <div class="second-water-cnt sec">
              <div class="row d-flex justify-content-center mb-4 wow fadeInRight"  data-wow-duration="2s">
                <div class="col-sm-9">
                  <div class="text text-right">
                    <div class="subhead">
                      <h5 class="proxima-nova-bold">ЗАЩИТА БЫТОВОЙ ТЕХНИКИ</h5>
                    </div>
                    <div class="main-text">
                      <p class="Montserrat regular">Вода с высоким содержанием железа, способствует развитию<br> железобактерий,разрушающих бытовые приборы и трубопровод. <br>Чистая вода продлит срок службы Вашей техники в разы!</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="img-main-cont">
                    <div class="img">
                      <div class="img-cont">
                        <img class="lazyload" src="/media/img/shower.svg">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <div class="second-water-cnt">
              <div class="row  wow fadeInLeft d-flex justify-content-center mb-4"  data-wow-duration="2s">
                <div class="col-sm-3">
                  <div class="img-main-cont sec">
                    <div class="img">
                      <div class="img-cont">
                        <img class="lazyload" src="/media/img/33.svg">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9">
                  <div class="text">
                    <div class="subhead">
                      <h5 class="proxima-nova-bold">ЗДОРОВЬЕ ВАШИХ ДЕТЕЙ</h5>
                    </div>
                    <div class="main-text">
                      <p class="Montserrat regular">В результате стирки водой, не прошедшей фильтрацию,<br> происходит разрушение даже самых качественных тканей.<br> От высокого содержания железа в воде, белые вещи быстро желтеют.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <div class="second-water-cnt sec for">
              <div class="row  wow fadeInRight d-flex justify-content-center mb-4"  data-wow-duration="2s">
                
                <div class="col-sm-9">
                  <div class="text text-right">
                    <div class="subhead">
                      <h5 class="proxima-nova-bold">БЕЗОПАСНАЯ СТИРКА ОДЕЖДЫ</h5>
                    </div>
                    <div class="main-text">
                      <p class="Montserrat regular">Нефильтрованная вода с высоким содержанием вредных веществ <br>способствует появлению и развитию раковых клеток. <br> 
                      Подарите Вашему ребенку здоровое развитие!</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="img-main-cont">
                    <div class="img last">
                      <div class="img-cont">
                        <img class="lazyload" src="/media/img/44.png">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="third-section stepss">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 160"><path fill="#fff" fill-opacity="1" d="M0,32L80,48C160,64,320,96,480,96C640,96,800,64,960,69.3C1120,75,1280,117,1360,138.7L1440,160L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading">
              <h1 class="proxima-nova-bold wow fadeInUp"  data-wow-duration="2s">СТАДИИ ОЧИСТКИ ВОДЫ</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="drop-wrapper">
        <div class="drop-block drop-step-one">
          <div class="container">
            <div class="row">
              <div class="col-md-5  wow fadeInLeft"  data-wow-duration="2s">
                <div class="description-box " style="opacity: 1;">
                  <div class="num proxima-nova-black">1</div>
                  <div class="desc">
                    <p class="Montserrat semi-bold etap">Этап</p>
                    <p class="Montserrat regular">Первый фильтр – это пяти - микронный осадочный фильтр. Микрон как Вы знаете это единица измерения, то есть, если мы поделим 1 мм на 1000 частей, будет один Микрон. Этот фильтр задерживает механические частицы, такие как: камень, песок, ржавчина.</p>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="drop-box drop-one" style="background-attachment: initial; background-position: right 25px top 1887.58px;"></div>
          <div class="filter-box-back filter-one-back"></div>
          <div class="filter-box filter-one"></div>
        </div>
        <div class="drop-block drop-step-two">
          <div class="container">
            <div class="row">
              <div class=" wow fadeInLeft wow fadeInLeft col-md-5"  data-wow-duration="2s">
                <div class="description-box " style="opacity: 1;">
                  <div class="num proxima-nova-black">2</div>
                  <div class="desc">
                    <p class="Montserrat semi-bold etap">Этап</p>
                    <p class="Montserrat regular">Второй фильтр – это Active Carbon. Он абсорбирует всякие запахи и привкусы в воде и
                      на 100% задерживает хлор. Хлор является химическим элементом, вступая в реакцию с органическими веществами,
                      он образует КАНЦЕРОГЕН, который обостряет развитие раковых клеток.</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="drop-box drop-two" style="background-attachment: initial; background-position: right 25px top 1287.58px;"></div>
          <div class="filter-box-back filter-two-back"></div>
          <div class="filter-box filter-two"></div>
        </div>
        <div class="drop-block drop-step-three">
          <div class="container">
            <div class="row">
              <div class=" wow fadeInLeft col-md-5"  data-wow-duration="2s">
                <div class="description-box" style="opacity: 1;">
                  <div class="num proxima-nova-black">3</div>
                  <div class="desc">
                    <p class="Montserrat semi-bold etap">Этап</p>
                    <p class="Montserrat regular">Третий фильтр – это одно - микронный блочный фильтр.
                      Здесь задерживаются тяжелые металлы и токсины. Через воду тяжелые металлы попадают в нашу кровь,
                      от чего кровь сгущается и появляются такие болезни как повышенное (пониженное) давление – гипертония.
                    </p>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="drop-box drop-three" style="background-attachment: initial; background-position: right 25px top 687.575px;"></div>
          <div class="filter-box-back filter-three-back"></div>
          <div class="filter-box filter-three"></div>
        </div>
        <div class="drop-block drop-step-four">
          <div class="container">
            <div class="row">
              <div class=" wow fadeInLeft col-md-5"  data-wow-duration="2s">
                <div class="description-box " style="opacity: 1;">
                  <div class="num proxima-nova-black">4</div>
                  <div class="desc">
                    <p class="Montserrat semi-bold etap">Этап</p>
                    <p class="Montserrat regular">Пройдя через 3 фильтра вода становится прозрачной и без привкуса, затем идет в сердце системы – в мембрану.
                      Мембрана выполняет функцию механической почки. Основная функция мембраны разделять воду на 2, чистую и грязную.
                    </p>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="drop-box drop-four" style="background-attachment: initial; background-position: right 25px top 87.575px;"></div>
          <div class="filter-box-back filter-four-back"></div>
          <div class="filter-box filter-four"></div>
        </div>
        <div class="drop-block drop-step-five">
          <div class="container">
            <div class="row">
              <div class=" wow fadeInLeft col-md-5"  data-wow-duration="2s">
                <div class="description-box " style="opacity: 1;">
                  <div class="num proxima-nova-black">5</div>
                  <div class="desc">
                    <p class="Montserrat semi-bold etap">Этап</p>
                    <p class="Montserrat regular">И самый последний – это фильтр контрольной очистки.Вода без проблем проходит через поры мембраны.
                      Точно так же проходят полезные минералы, такие как: калий, кальций, магний, йод.</p>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="drop-box drop-five" style="background-attachment: initial; background-position: right 25px top -512.425px;"></div>
          <div class="filter-box-back filter-five-back"></div>
          <div class="filter-box filter-five"></div>
        </div>
        <div class="drop-block drop-step-six">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="description-box wow fadeInUp six"  data-wow-duration="2s" style="opacity: 1;">
                    <p class="Montserrat semi-bold">Результат чистая, свежая<br> и приятная на вкус вода! </p>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="drop-box drop-six" style="background-attachment: initial; background-position: right 25px top -1112.43px;"></div>
        </div>
      </div>
    </div>
    

    <div class="fourth-section" id="catalog">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading">
              <h1 class="proxima-nova-bold wow fadeInUp"  data-wow-duration="2s">КАТАЛОГ ТОВАРОВ</h1>
            </div>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-sm-5 wow fadeInLeft" data-wow-duration="2s">
            <div class="img-four-cont">
              <img class="lazyload" src="/media/img/55.png">
            </div>
          </div>
          <div class="col-sm-7 wow fadeInRight" data-wow-duration="2s">
            <div class="text-catalog">
              <div class="head">
                <h2 class="bebas">AQ-300 NH</h2>
              </div>
              <div class="sec-text">
                <p class="Montserrat medium ">Модель фильтра AQ-300NH - это уникальный сенсорный диспенсер класса люкс. Чай, кофе, лимонады, холодные супы теперь не проблема - к вашим услугам в любой момент 4 литра холодной и горячей воды. Высокая мощность, агрегат с повседневной фильтрацией, два термостата и корпус с высокой защитой от ожогов: надёжно, удобно!</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div class="fifth-section">
      <div class="container">
        <div class="row cat-reverse d-flex align-items-center">
          <div class="col-sm-7 wow fadeInLeft" data-wow-duration="2s">
            <div class="text-catalog">
              <div class="head">
                <h2 class="bebas">AD-560 RO</h2>
              </div>
              <div class="sec-text">
                <p class="Montserrat medium">AD-560 RO - самурайский меч, сносящий все преграды между вами и чистой водой. Система обратного осмоса удаляет до 99,9 процентов солей, бактерий и прочих вредных веществ, обеспечивая вам ежедневное наслаждение вкусной питьевой водой. 5 ступеней очистки. Мечта для здорового образа жизни!</p>
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="img-four-cont wow fadeInRight">
              <div class="img-four">
                <img class="lazyload" class="cat-img" src="/media/img/16.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="six-section">
      <div class="container">
        <div class="row d-flex align-items-center">

          <div class="col-sm-4 wow fadeInLeft" data-wow-duration="2s">
            <div class="img-four-cont">
              <div class="img-four">
                <img class="lazyload" src="/media/img/products/product1.png" style="width: 130%">
              </div>
            </div>
          </div>

          <div class="col-sm-7 wow fadeInRight" data-wow-duration="2s">
            <div class="text-catalog">
              <div class="head">
                <h2 class="bebas">AD-561 RO</h2>
              </div>
              <div class="sec-text">
                <p class="Montserrat medium">AD-561 RO - самурайский меч, сносящий все преграды между вами и чистой водой. Система обратного осмоса удаляет до 99,9 процентов солей, бактерий и прочих вредных веществ, обеспечивая вам ежедневное наслаждение вкусной питьевой водой. 5 ступеней очистки. Стильный стальной корпус черного и белого цвета. Мечта для здорового образа жизни!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="six1-section">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-sm-7 wow fadeInRight" data-wow-duration="2s">
            <div class="text-catalog">
              <div class="head">
                <h2 class="bebas">AD-561 RO</h2>
              </div>
              <div class="sec-text">
                <p class="Montserrat medium">AD-561 RO - самурайский меч, сносящий все преграды между вами и чистой водой. Система обратного осмоса удаляет до 99,9 процентов солей, бактерий и прочих вредных веществ, обеспечивая вам ежедневное наслаждение вкусной питьевой водой. 5 ступеней очистки. Стильный стальной корпус черного и белого цвета. Мечта для здорового образа жизни!</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInLeft" data-wow-duration="2s">
            <div class="img-four-cont">
              <div class="img-four">
                <img class="lazyload" src="/media/img/products/product3.png" style="width: 120%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

























    <div class="seven-section" id="about">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading">
              <h1 class="proxima-nova-bold wow fadeInUp" data-wow-duration="2s">ПОЧЕМУ ЛЮДИ<br> ВЫБИРАЮТ НАС?</h1>
            </div>
          </div>
          
        </div>
        <div class="row seven-m mt-5">
          <div class="col-lg-3">
            <div class="cont-seven-sect">
              <div class="img-sev wow fadeInDown" data-wow-duration="2s">
                <img class="lazyload" src="/media/img/111.png">
              </div>
              <div class="text-sev">
                <p class="proxima-nova-bold wow fadeInUp" data-wow-duration="2s">Правильная очистка - залог долголетия и крепкого здоровья. Наши фильтры на базе высоких технологий Японии - совершенство инженерной мысли.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="cont-seven-sect">
              <div class="img-sev wow fadeInDown" data-wow-duration="2s">
                <img class="lazyload" src="/media/img/10.png">
              </div>
              <div class="text-sev">
                <p class="proxima-nova-bold wow fadeInUp" data-wow-duration="2s">Так удобно, а может стать еще удобнее! Для вас ассортимент аксессуаров к фильтрам: краны, сенсоры.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="cont-seven-sect">
              <div class="img-sev wow fadeInDown" data-wow-duration="2s">
                <img class="lazyload" src="/media/img/9.png">
              </div>
              <div class="text-sev">
                <p class="proxima-nova-bold wow fadeInUp" data-wow-duration="2s">Вам комфорт, а заботы нам: привозим товар, устраиваем демо-показ. Нравится? Устанавливаем. Плюс консультации и сервис.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="cont-seven-sect">
              <div class="img-sev wow fadeInDown" data-wow-duration="2s">
                <img class="lazyload" src="/media/img/8.png">
              </div>
              <div class="text-sev">
                <p class="proxima-nova-bold wow fadeInUp" data-wow-duration="2s">Наши цена и качество - идеальная пара. А еще скажем "нет" копилкам: товары доступны в рассрочку!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="eight-section" id="raschet">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading">
              <h1 class="proxima-nova-bold  wow fadeInUp" data-wow-duration="2s">Попробуйте бесплатно <br>в течении 14 дней</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-cont">
              <form action="/" method="POST">{% csrf_token %}
                <div class="row d-flex justify-content-center">
                  <div class="col-12 col-lg-2">
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="city" placeholder="Город">
                    </div>
                  </div>

                  <div class="col-12 col-lg-2">
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="name" placeholder="Имя">
                    </div>
                  </div>
                  <div class="col-12 col-lg-2">
                    <div class="form-group">
                      <input type="text" class="form-control" id="" name="phone" placeholder="Номер">
                    </div>
                  </div>
                
                  
                  <div class="col-12 col-lg-4">
                    <button type="submit" class="js-checkout btn btn-primary Montserrat medium knop">ПОПРОБОВАТЬ БЕСПЛАТНО</button>
                  </div>
                </div>
                
              </form>
            </div>
            

          </div>

        </-div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-sm-2 col-5">
            <div class="img-foot">
              <img class="lazyload logo sec" src="/media/img/logo.png">
            </div>
          </div>
          <div class="col-lg-3 col-sm-5 col-7 d-flex justify-content-end">
            <div class="phone">
                <div class="phone-cont">
                  <div class="number">
                    <a href="tel:+7 777 777-10-85"><p><span class="proxima-nova-light">7 777</span> <span class="proxima-nova-bold">777-10-85</span></p></a>
                    <a href="mailto:akva.deluxe@yandex.com"><p class="def"><span class="proxima-nova-light">akva.deluxe@yandex.com</p></a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class='scrolltop'>
      <div class='scroll icon'><img class="lazyload" src="/media/img/120.svg"></div>
    </div>


  <script src="/media/js/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>

  <script src="/media/js/lazysizes.min.js" async=""></script>

  <script src="/media/css/dop/jquery-1.11.2.min.js"></script>
  <script src="/media/css/dop/waypoints.min.js"></script>

  <script src="/media/css/dop/common.js"></script>

    <script src="/media/plugins/jquery-1.12.3.min.js"></script>
    <script src="/media/plugins/bootstrap.min.js"></script>
    <script src="/media/plugins/jquery.scrollTo.min.js"></script>
    <script src="/media/js/scripts.js"></script>

    <script>
      $('.js-checkout').click(function(){
				var csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]').val();
				var oData = {
					'phone': $('[name="phone"]').val(),
					'name': $('[name="name"]').val(),
					'city': $('[name="city"]').val(),
					'action': 'checkout',
					'csrfmiddlewaretoken':csrfmiddlewaretoken
				}
				jQuery.ajax({
					type: 'POST',
					url: '/',
					datatype: 'json',
					data:oData,
					success:function(){
						alert('Uspeshno otpravleno👍👍👍');
						location.reload();
					}
				})
				return false;
			})
    </script>

  </body>
</html>  